
<h2>Bevestiging</h2>
<div>
    <br />
    Het Emailadres waar de GameKeys naartoe worden verstuurd:
    <br />
    <br />
    @ViewBag.Email
    <br />
    <br />
    <br />
    <br />
</div>
    @Html.ActionLink("Betalen", "Payment", "Order")
