@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paypal</title>
</head>
<body>
    <center>
        <img src="~/images/paypal.jpg" alt="image" />
        <br />
        <img src="~/images/paypaltop.jpg" alt="image" />
        <br />
        <a href='@Url.Action("ProcessOrder", "Order")'>
            <img src="~/images/paypalbutton.jpg" alt="image" />
        </a>
        <br />
        <img src="~/images/paypalbottom.jpg" alt="image" />
    </center>

</body>
</html>