
@{
    ViewData["Title"] = "UserDetailsPage";
}

@if (User != null)
{
    <div>
        <h2>Het account waar uw gamekeys naar worden gestuurd:</h2>
        <br />
        <br />
        @ViewBag.Email
        <br />
        <br />
        <br />
        <br />
        @*Of kies een ander e-mailadres:
            <br />
            <br />
            *Hier komt dan een veld voor een ander e-mailadres****@
    </div>
}
else
{
    <div>
        <h2>Log in met uw bestaande account hier:</h2>
        Link naar het inloggen
        <br />
        <br />
        Of ga anoniem door met bestellen:
        <br />
        Hier een veld voor e-mailadres***
    </div>
}

@Html.ActionLink("Betalen", "Payment", "Order")