
@{
    ViewData["Title"] = "UserDetailsPage";
}
<h2>Uw Accountsoverzicht voor deze bestelling:</h2>
@if (User != null)
{
    <div>
        Het Emailadres waar de GameKeys naartoe worden verstuurd:
        <br />
        <br />
        @ViewBag.Email
        <br />
        <br />
        <br />
        <br />
        @Html.ActionLink("Of kies een ander Emailadres", "DifferentEmail", "Order")
    </div>
}
<br />
<br />

@Html.ActionLink("Betalen", "Payment", "Order")