@page
@model project_c.Areas.Identity.Pages.Account.DVGames.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DefinitiveList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameCount)
            </td>
        </tr>
}
    </tbody>
</table>
