@page
@model project_c.Areas.Identity.Pages.Account.DVGames.IndexModel

@{
    ViewData["Title"] = "Meest bestelde games";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Aantal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DefinitiveList.OrderByDescending(item => item.gameCount))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gameTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gameCount)
                </td>
            </tr>
        }
    </tbody>
</table>
