@{
    ViewData["Title"] = "Over ons";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Bedrijfsinformatie.</p>
<br />
<p>Wij van webshop JIRO zijn een simpel en klein bedrijf dat niet eens officieel is.</p>
<p>Deze webshop verkoopt gamekeys aan de gebruiker en u kunt zo ook een gift maken.</p>
