@{
    ViewData["Title"] = "Over ons";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
<p>Jiro © is dé webshop voor Gamekeys in het Nederlands taalgebied (Nederland, Vlaanderen, Suriname).</p>
<p>Betalingen verlopen altijd veilig via de externe betaaldienst PenPal. Voor vragen omtrent betalingen, gelieve hen te contacteren.</p>
<p>Voor vragen of opmerkingen over aankopen, gelieve u te wenden tot de contactpagina van deze site.</p>
