@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Adresgegevens
</address>

<address>
    <strong>Ondersteuning:</strong> <a href="mailto:jirowebshop@gmail.com">jirowebshop@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jirewebshop@gmail.com">jirowebshop@gmail.com</a>
</address>
