
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.IsAdmin == "true")
{
    <h2>Admin Panel</h2>
    <p>Welkom bij het Admin Panel.</p>

    <div class="col-md-3">
        <h3>Visualisatie data</h3>
        <ul>
            <li>
                <a asp-area="Identity" asp-page="/Account/DataVisualisatie/Index" title="Index">Bestellingen per datum</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/DVGames/Index" title="Index">Meest bestelde games</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Gebruikers/Index" title="Index">Mutatie gebruikersaantallen</a>
            </li>
            @if (ViewBag.IsSuperadmin == "True")
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/GebruikersList/Index" title="Index">Lijst van gebruikers</a>
                </li>
            }
        </ul>
    </div>
    @if (ViewBag.IsSuperadmin == "True")
    {
        <div class="col-md-3">
            <h3>Admin aanmaken</h3>
            <ul>
                <li>
                    <a asp-action="CreateAdmin" asp-controller="Admin">Adminaccount aanmaken</a>
                </li>
            </ul>
        </div>

    }
}
else
{
    <br />
    <br />
    <p>Toegang geweigerd.</p>
}


