
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.Name == "admin@hotmail.com")
{
    <h2>Index</h2>
    <p>Hier ziet u een overzicht.</p>

    <li>
        <a asp-area="Identity" asp-page="/Account/DataVisualisatie/Index" title="Index">Bestellingen per datum</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/DVGames/Index" title="Index">Meest bestelde games</a>
    </li>
}
else
{
    <h2>Index</h2>
    <li>U mag hier helemaal niet zijn!</li>
}


